<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
{% extends 'base.html'%}
{% block headertop %}
{{block.super}}
<div class="main_wrap clearfix">


    <ul class="goods_type_list clearfix">

           {%for good in page%}
            <li>
                <a href="/product/detail/{{good.object.id}}/"><img src="/static/{{good.object.pimage}}"></a>
                <h4><a href="/product/detail/{{good.object.id}}/">{{good.object.pname}}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{good.object.pprice}}</span>
                    <span class="unit">{{good.object.pprice}}/{{good.object.punit}}</span>
                    <a href="#" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
            {% endfor%}


    </ul>
</div>
{% endblock headertop %}
</body>
</html>